<form action="#" phx-submit="add">
  <%= text_input :todo, :title, placeholder: "What do you want to get done?" %>
  <%= submit "Add", phx_disable_with: "Adding..." %>
</form>

<%= for todo <- @todos do %>
<div>
  <%= checkbox(:todo, :done, phx_click: "toggle_done", phx_value: todo.id, value: todo.done) %>
  <%= todo.title %>
  <%= raw "<button phx-click=\"todo_delete\" phx-value=\"#{todo.id}\" class=\"button-clear\">Delete</button>" %>
</div>
<% end %>
